@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');


html {
  /* Safari needs this to prevent horizontal scrolling. */
  max-width: 100%;
  overflow-x:hidden;
}

body {
  background-color: #FFF;
  overflow-x:hidden; /* Safari needs this to prevent horizontal scrolling. */
}

body.preload * {
  -webkit-transition: none !important;
     -moz-transition: none !important;
      -ms-transition: none !important;
       -o-transition: none !important;
          transition: none !important;
}

p {
  margin-bottom: 25px;
  line-height: 1.75;
}

figure {
  display:block;
  margin: 0;
  padding: 0;
}

pre {
  width: 90%;
  margin: 0 auto 50px auto;
  font-size: 16px;
  background-color: rgb(240,240,240);
  border: 2px solid #333;
  border-radius: 15px;
  overflow:scroll;
}

.article {
  margin: 0 auto 50px auto;
  padding: 25px;
  color: rgb(150,150,150);
  background-color: rgb(245,245,245);
  border: 2px solid rgb(150,150,150);
  border-radius: 25px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
}

.fancy-h2 {
  margin: 0 0 25px 0;
  color: #FFF;
  font-size: 40px;
  font-family: Montserrat;
  letter-spacing: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(150,150,150);
  text-shadow: -2px 2px 4px rgba(0,0,0,0.15);
}

.child-mb-1 > * { margin-bottom: 0.25rem !important; }
.child-mb-2 > * { margin-bottom: 0.5rem !important;  }
.child-mb-3 > * { margin-bottom: 1rem !important;    }
.child-mb-4 > * { margin-bottom: 1.5rem !important;  }
.child-mb-5 > * { margin-bottom: 3rem !important;    }

.w-90 { width: 90% !important; }

#primary-navbar {
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
}


/* =============================================================================

============================================================================= */


#slant-split-container {
  --color-1: rgb(245,245,245);
  --color-2: rgb(150,150,150);
  --positive-skew: skew(15deg);
  --negative-skew: skew(-15deg);
  --duration: 0.35s;
  position: relative;
  left: -50%;
  width: 200%;
  height: 100vh;
  transform: var(--negative-skew);
  transition: transform var(--duration) linear;
  overflow: hidden;
}


/* =========================
       .*-section
========================= */


.left-section {
  --font-color:   var(--color-1);
  --stroke-color: var(--color-2);
  width: 50%;
  height: 100%;
  color: var(--color-2);
  background-color: var(--color-1);
  transition: transform var(--duration) linear;
  float:left;
}

.right-section {
  --font-color:   var(--color-2);
  --stroke-color: var(--color-1);
  width: 50%;
  height: 100%;
  color: var(--color-1);
  background-color: var(--color-2);
  transition: transform var(--duration) linear;
  float:left;
}


/* =========================
       .content
========================= */


.content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90%;
  margin-top: 5vh;
  transform: var(--positive-skew);
  transition: transform var(--duration) linear;
}

.left-section .content {
  margin-left: 55%;
  margin-right: 10%;
}

.right-section .content {
  margin-left: 10%;
  margin-right: 55%;
}


/* =========================
   .content first child.
========================= */


.left-section .left-arrow {
  position: absolute;
  top: -10px;
  left: 2.5%;
  cursor:pointer;
  fill: var(--color-2);
  visibility: hidden;
  opacity: 0;
}

.right-section .right-arrow {
  position: absolute;
  top: -10px;
  right: 2.5%;
  cursor:pointer;
  fill: var(--color-1);
  visibility: hidden;
  opacity: 0;
}


/* =========================
 .content second child.
========================= */


.content-header {
  margin-bottom: 10px;
  color: var(--font-color);
  font-size: 32px;
  font-family: Montserrat;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--stroke-color);
  text-shadow: -2px 2px 4px rgba(0,0,0,0.15);
}


/* =========================
   .content third child.
========================= */


.content-body {
  overflow: scroll;
}

.additional-content {
  visibility: hidden;
  width: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}


/* =========================
  .content fourth child
========================= */


.learn-more {
  padding-top: 10px;
  font-weight: bold;
  transition: opacity var(--duration) linear var(--duration);
  cursor:pointer;
}


/* =============================================================================
                             Animation Styles
============================================================================= */


#slant-split-container.open-left {
  min-height: 100vh;
  transform: skew(0) translateX(25%);
  animation: height-auto 0s linear var(--duration);
  animation-fill-mode: forwards;
}

#slant-split-container.open-right {
  min-height: 100vh;
  transform: skew(0) translateX(-25%);
  animation: height-auto 0s linear var(--duration);
  animation-fill-mode: forwards;
}

@keyframes height-auto {
  from { height: 100vh; }
  to   { height: auto;  }
}

#slant-split-container.open-right .content,
#slant-split-container.open-left  .content {
  transform: skew(0);
}


/* =========================

========================= */


#slant-split-container.open-left .left-section .content {
  animation: content-open-left var(--duration) linear;
  animation-fill-mode: forwards;
}

#slant-split-container.close-left .left-section .content {
  animation: content-close-left var(--duration) linear;
  animation-fill-mode: forwards;
}

@keyframes content-open-left {
  0% {}
  100% {
    height: auto;
    min-height: 90%;
    margin: 5vh 0 0 0;
    padding: 0 5%;
  }
}

@keyframes content-close-left {
  0% {
    height: auto;
    min-height: 90%;
    margin: 5vh 0 0 0;
    padding: 0 5%;
  }

  75% { padding: 0 5%; }

  100% {
    height: 90%;
    min-height: 0;
    margin-left: 55%;
    margin-right: 10%;
    padding: 0;
  }
}

/* Uncomment this if you prefer text that doesn't unwrap as it opens. */
/* #slant-split-container.open-left .left-section .content {
  margin: 5vh 0 0 0;
  padding: 0 5%;
} */


/* =========================

========================= */


#slant-split-container.open-right .right-section .content {
  animation: content-open-right var(--duration) linear;
  animation-fill-mode: forwards;
}

#slant-split-container.close-right .right-section .content {
  animation: content-close-right var(--duration) linear;
  animation-fill-mode: forwards;
}

@keyframes content-open-right {
  0% {}
  100% {
    height: auto;
    min-height: 90%;
    margin: 5vh 0 0 0;
    padding: 0 5%;
  }
}

@keyframes content-close-right {
  0% {
    height: auto;
    min-height: 90%;
    margin: 5vh 0 0 0;
    padding: 0 5%;
  }

  75% { padding: 0 5%; }

  100% {
    height: 90%;
    min-height: 0;
    margin-left: 10%;
    margin-right: 55%;
    padding: 0;
  }
}

/* Uncomment this if you prefer text that doesn't unwrap as it opens. */
/* #slant-split-container.open-right .right-section .content {
  margin: 5vh 0 0 0;
  padding: 0 5%;
} */


/* =============================================================================

============================================================================= */


#slant-split-container.open-left .left-arrow,
#slant-split-container.open-right .right-arrow {
  transition: all var(--duration) linear var(--duration);
  visibility: visible;
  opacity: 1;
}

#slant-split-container.open-left  .left-section  .content .learn-more,
#slant-split-container.open-right .right-section .content .learn-more {
  visibility: hidden;
  width: 0px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

#slant-split-container.open-left  .left-section  .content .additional-content,
#slant-split-container.open-right .right-section .content .additional-content {
  visibility: visible;
  width: auto;
  height: auto;
  overflow: visible;
  opacity: 1;
  transition: opacity var(--duration) linear var(--duration);
}


/* =============================================================================
                                Media Queries
============================================================================= */
/* Mobile-first media queries that follow Bootstrap's breakpoints.
Note: xs is implied by the default styles. */


/* sm */
@media (min-width: 576px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 992px) {
}

/* xl */
@media (min-width: 1200px) {
}

/* xxl */
@media (min-width: 1400px) {
  main > .container-fluid { max-width: 1400px; }
}
